<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>

    function startup() {
        var startButton = document.getElementById("start");
        var captureButton = document.getElementById("capture");
        var myStream = document.getElementById("myStream");
        var myCanvas = document.getElementById("myCanvas");
        var myPhoto = document.getElementById("myPhoto");
        var img_link = document.getElementById("img_link");

         // safari
        // myStream.setAttribute('autoplay', '');
        // myStream.setAttribute('muted', '');
        // myStream.setAttribute('playsinline', '');
                
        navigator.mediaDevices.getUserMedia({ audio:false, video:{facingMode: 'environment'} })
            .then(function (stream) {
               
                myStream.srcObject = stream;

                myStream.play();
            })

        clearPic();
    }

    function takePicture() {
        var ctx = myCanvas.getContext('2d');
        myCanvas.width = 500;
        myCanvas.height = 400;
        ctx.drawImage(myStream, 0, 0, 550, 400);

        img_link.value = myCanvas.toDataURL('image/png');
        let data = myCanvas.toDataURL('image/png');
        myPhoto.src = data;
    }

    function clearPic() {
        var ctx = myCanvas.getContext('2d');
        ctx.fillStyle = "black";
        ctx.fillRect(0, 0, myCanvas.width, myCanvas.height);
        myPhoto.setAttribute('src', myCanvas.toDataURL('image/png'));
        img_link.value = '';

    }

    window.addEventListener('load', startup, false);

</script>


<body>
    <!-- <h1>EcoSnap</h1> -->
    {% extends "base.html"%}

    {% block content %}
    <div>
        <div>
            <h2>Video Stream for {{name}}</h2>
            <!-- <button id="start">Stream</button> -->
            <button id="capture" onclick="takePicture()">Take a picture</button>
            <button onclick="clearPic()">Clear</button>
            <video src="" muted autoplay id="myStream"></video>
            <!-- Mobile cam -->
            <!-- <video src="" id="myStream"></video> -->

            <canvas style="display:none;" id="myCanvas"></canvas>
        </div>
        <form method="POST">
            <!-- {% csrf_token %} bypassing it-->
            <img id="myPhoto" src="" alt="" name="myPic"> 
            <div>
            <input type="text" name="name" value="{{name}}" style="display: none;">
            <textarea name="img_link" id="img_link" cols="100" rows="50" style="display: none;"></textarea>
            <!-- <textarea name="name" id="name" cols="100" rows="50">{{name}}</textarea> -->
            </div>
            <button type="submit">Check!</button>
        </form>
    </div>
    {% endblock %}

</body>

</html>