<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h3>Garbage Distribution</h3>
    {% load static %}
    <img src={% static "donut.png" %} alt="donut" width="700" height="500">
    <br>
    <br>
    <h2>Total CO2 Saved: {{total_emission}} kg</h2>
    
    <!--<div class="animate__animated animate__bounce"> HeatMap</div>
    <div>Graph</div>
    <div>Points</div>
    <div>Streak</div>-->
    {% endblock %}

</body>
</html>

<style>

    
</style>